</td>
</tr>
</table>
</td></tr>
<tr><td class="change">
<input type="button"
	onClick="return refreshContent('<? echo htmlspecialchars($PHP_SELF)+"?netmode="+_esc($netmode);>');"
	value="<? echo dict_translate("Refresh"); >"></td>
</tr></table>
</form>
</body>
</html>
